body{
  text-align:center;
}
.content{
  width:80%;
  margin:auto;
  font-family: cursive;
}
h2.intro{
  color:rgb(4, 107, 0);
}
img.intro{
  width: 40%;
}
p.intro{
  margin: 200px;
  color: rgb(4, 107, 0);
}
footer.ending{
  font-style: bold;
  font-size: 100px;
}
.intro{
  text-decoration: underline;
}