body {
  text-align: center;
}
ul {
  margin-left: 45%;
  text-align:left;
}
.stuff {
  color: blue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: solid black 1px;
}
.content {
  color: red;
  border:solid black 1px;
}
.page {
  width: 80%;
  margin: auto;
  background-color:whitesmoke;
}
footer{
  margin-top:5em;
}
span {
  color: orange;
  font-weight: bold;
}
div{
  padding:10px;
}
div div{
  margin-top:5px;
}
